@model OgrenciUygulaması.Models.tBolum

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tBolum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fakulte.fakulteAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fakulte.fakulteAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bolumAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bolumAd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.bolumID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
