@model OgrenciUygulaması.Models.tDers

@{
    ViewBag.Title = "Ders Güncelle";
}

<h2>Ders Güncelle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.dersID)

    <div class="form-group">
        @Html.LabelFor(m => m.dersAd)
        @Html.TextBoxFor(m => m.dersAd, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.dersAd)
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
    @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-secondary" })
}
